---
layout: layout.njk
title: Sergey - Home
---
<!--== Start Hero Banner Area ==-->
<div class="hero-banner-area hero-banner--full-height bg-img" data-bg="/assets/img/hero-bg/02.jpg">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-lg-6 text-center">
                <div class="hero-banner-content">
                    <h5>Sergey Siminel</h5>
                    <h2>Haircolor & Style Specialist </h2>
                    <a href="{{ '/over-mij' | locale_url }}" class="btn btn-black">{{ 'explore_now' | i18n }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Hero Banner Area ==-->

<!--== Start About Area ==-->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-6">
                <div class="about-thumb mtn-100 mt-md-90 mt-sm-60">
                    <img src="/assets/img/about/home-2-about.jpg" alt="About" />
                </div>
            </div>

            <div class="col-md-7 col-lg-5 ms-auto">
                <div class="director-message-content sp-top">
                    <div class="section-title mb-55 mb-md-30 mb-sm-15">
                        <h2>{{ 'about_me' | i18n }}</h2>
                    </div>
                    <p><br>Met tien jaar kennis en ervaring ben ik een toegewijde kapper die met hart en ziel in het vak staat. Mijn visie is voortdurende ontwikkeling, zodat ik altijd het beste kan bieden en de glimlach in de ogen van mijn klanten kan zien.
                    <br><br>Ik streef er altijd naar om op de hoogte te blijven van de nieuwste kleurtechnieken en haarmode, zodat ik mijn klanten kan verrassen met unieke en moderne looks. Voor mij is kapper zijn niet alleen een beroep, het is een kunst die ik met liefde en passie beoefen.
                    <br><br>Mijn doel is om jouw natuurlijke schoonheid te benadrukken en een stijl te creëren die perfect bij jouw persoonlijkheid en levensstijl past. Ik neem de tijd om naar jouw wensen te luisteren, en samen werken we aan een look waarmee je je zelfverzekerd en stralend voelt.
                    <br><br>Met passie, toewijding en oog voor detail wil ik ervoor zorgen dat je met een glimlach vertrekt en trots bent op je nieuwe look. Dus kom langs en laat me je haardromen waarmaken, terwijl we samen jouw persoonlijke stijl onthullen. Ik kijk ernaar uit om je in mijn salon te verwelkomen en je te laten stralen met een prachtige nieuwe haarschepping.
                    </p>
                    <div class="director-info">
                        <h6>Sergey Siminel <span class="designation">Hairstylist</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End About Area ==-->

<!--== Start Services Area ==-->
<div class="service-area sm-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title section-title--3">
                    <h2>{{ 'services' | i18n }}</h2>
                </div>
            </div>
        </div>

        <div class="row mtn-30">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                <!-- Start Service Item -->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="/assets/img/service/02.jpg" alt="Service" />
                    </figure>

                    <div class="service-content">
                        <div class="service-content__title">
                            <div class="icon">
                                <img src="/assets/img/service/icon/haircut.png" alt="Service" />
                            </div>
                            <div class="heading">
                                <h3>{{ 'haircut' | i18n }}</h3>
                            </div>
                        </div>

                        <div class="service-content_txt">
                            <p>Ongeacht of het gedurfd en modern is of strak en elegant, streven we ernaar de perfecte look te 
                                creëren voor elke individuele klant.</p>
                        </div>

                        <div class="service-content__btn">
                            <a href="{{ '/diensten' | locale_url }}#haircut" class="btn-service">{{ 'read' | i18n }}</a>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                <!-- Start Service Item -->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="/assets/img/service/01.jpg" alt="Service" />
                    </figure>

                    <div class="service-content">
                        <div class="service-content__title">
                            <div class="icon">
                                <img src="/assets/img/service/icon/color.png" alt="Service" />
                            </div>
                            <div class="heading">
                                <h3>{{ 'coloring' | i18n }}</h3>
                            </div>
                        </div>

                        <div class="service-content_txt">
                            <p>Vernieuw je haar met onze expertise in kleuren, waarbij levendige tinten worden gemengd met de 
                                nieuwste technieken om perfect aan te sluiten bij jouw unieke stijl.</p>
                        </div>

                        <div class="service-content__btn">
                            <a href="{{ '/diensten' | locale_url }}#coloring" class="btn-service">{{ 'read' | i18n }}</a>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
            </div>
        </div>
    </div>
</div>
<!--== End Services Area ==-->

<!--== Start Banner Area ==-->
 <div class="call-to-action-area sp-top sm-top bg-img" data-bg="/assets/img/banner/home-1-banner-1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                    <div class="call-to-action-content">
                        <p>Ervaar persoonlijke zorg voor jouw unieke stijl met onze toegewijde kapper. Jouw individualiteit staat 
                            centraal terwijl onze expert een kapsel creëert dat perfect aansluit bij jouw voorkeuren. Omarm de 
                            aandacht die je verdient en maak een afspraak om te genieten van een kapsel dat speciaal en zorgvuldig 
                            op maat voor jou is gemaakt.</p>
                    <a href="{{ '/contact' | locale_url }}" class="btn btn-hvr-brand">MAAK EEN AFSPRAAK</a>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--== End Banner Area ==-->

<!-- Add some white space here -->
<div class="white-space"></div>

<!--== Start Feature Area ==-->
    <div class="feature-area bg-img sp-y" data-bg="/assets/img/slider/home3/slide-bg.png">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title section-title--3">
                        <h2>Partners</h2>
                        <p>Sluit je aan bij ons op een reis van samenwerking en groei. We zijn enthousiast om een uitnodiging uit 
                            te breiden naar potentiële partners die onze visie en waarden delen. Samen kunnen we onze impact vergroten, 
                            innoveren en blijvend succes creëren. Ontdek de mogelijkheden van partnerschap en laten we samen de 
                            toekomst vormgeven.</p>
                        <a href="{{ '/partners' | locale_url }}" class="btn btn-hvr-brand">WORDT PARTNERS</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row mtn-30">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="feature-item">
                        <div class="feature-item__icon">
                            <img src="/assets/img/feature/drsorbie.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">Dr. Sorbie, een gevierd merk voor natuurlijk haar, combineert wetenschap en natuur in 
                                transformerende producten. Van revitaliserende shampoos tot verrijkende conditioners, omarm gezonder, 
                                stralend haar met ons.</p>
                        </div>
                    </div>
                </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="feature-item">
                        <div class="feature-item__icon">
                            <img src="/assets/img/feature/redken.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">Baanbrekende haarverzorging die wetenschap en creativiteit combineert. Wereldwijd 
                                vertrouwd voor levendige kleuren, transformerende behandelingen, en een samensmelting van kunst 
                                en wetenschap die jouw haar tot leven brengt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Feature Area ==-->


<!--== Start Blog Post Area ==-->

<div class="blog-area-wrapper sm-top sm-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h6>Blog Update</h6>
                    <h2>Blog</h2>
                </div>
            </div>
        </div>

        <div class="row mtn-30 align-items-baseline">
            <div class="col-md-6 col-lg-4 text-center">
                <!--== Start Blog Post Item ==-->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="/assets/img/blog/01.jpg" alt="Blog" />
                    </figure>
                    <div class="blog-post__content">
                        <h6 class="post-date">{{ blog.data.dat }}</h6>
                        <h2 class="post-title"><a href="{{ '/blog/blog1' | locale_url }}">{{ blog.data.title }}</a>
                        </h2>
                        <div class="post-excerpt">
                            <p>Ontdek het geheim van glanzend, gezond haar met deze essentiële tips: van regelmatige diepe 
                                conditioning tot de juiste hittebescherming, hoofdhuidverzorging en het kiezen van de juiste 
                                producten. Omarm natuurlijke remedies en een uitgebalanceerd dieet voor levendige lokken die 
                                jouw innerlijke schoonheid weerspiegelen.</p><br>
                        </div>
                        <a href="{{ '/blog/blog1' | locale_url }}" class="btn btn-bordered">{{ 'read' | i18n }}</a>
                    </div>
                </div>
                <!--== End Blog Post Item ==-->
            </div>

            <div class="col-md-6 col-lg-4 text-center">
                <!--== Start Blog Post Item ==-->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="/assets/img/blog/02.jpg" alt="Blog" />
                    </figure>

                    <div class="blog-post__content">
                        <h6 class="post-date">{{ blog.data.dat }}</h6>
                        <h2 class="post-title"><a href="{{ '/blog/blog2' | locale_url }}">{{ blog.data.title }}</a>
                        </h2>
                        <div class="post-excerpt">
                            <p>Ontdek de nieuwste haarkleurtechnieken, van de natuurlijke uitstraling van Balayage tot de 
                                betoverende aantrekkingskracht van de Black Out-techniek en Highlights. Deze trends bieden 
                                een unieke manier om jezelf uit te drukken via je haar en nodigen je uit op een transformerende 
                                reis van zelfexpressie.</p><br>
                        </div>
                        <a href="{{ '/blog/blog2' | locale_url }}" class="btn btn-bordered">{{ 'read' | i18n }}</a>
                    </div>
                </div>
                <!--== End Blog Post Item ==-->
            </div>

            <div class="col-md-6 col-lg-4 text-center">
                <!--== Start Blog Post Item ==-->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="/assets/img/blog/03.png" alt="Blog" />
                    </figure>

                    <div class="blog-post__content">
                        <h6 class="post-date">{{ blog.data.dat }}</h6>
                        <h2 class="post-title"><a href="{{ '/blog/blog3' | locale_url }}">{{ blog.data.title }}</a>
                        </h2>
                        <div class="post-excerpt">
                            <p>Verken het rijk van cutting-edge kniptechnieken in onze blog. Van precisieknipwerk tot getextureerde 
                                lagen, vind jouw perfecte look met onze ervaren stylisten. Of het nu gaat om een chique blunt bob 
                                of een gedurfde undercut, laat jouw haar jouw unieke stijl weerspiegelen in onze salon.</p><br>
                        </div>
                        <a href="{{ '/blog/blog3' | locale_url }}" class="btn btn-bordered">{{ 'read' | i18n }}</a>
                    </div>
                </div>
                <!--== End Blog Post Item ==-->
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <div class="all-content-button mt-45 mt-sm-25">
                    <a href="{{ '/blog/index' | locale_url }}" class="btn btn-hvr-brand">{{ 'all_posts' | i18n }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Blog Post Area ==-->


<!-- Scroll Top Button -->
<button class="btn-scroll-top"><i class="ion-chevron-up"></i></button>

<!--== Start Quick View Modal ==-->
<div class="modal fade" id="quickViewModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--== End Quick View Modal ==-->