---
layout: layout.njk
title: Sergiu Siminel - Home
---

    <!--== Start Page Header Area ==-->
    <div class="page-header-wrap">
        <div class="page-tittle-wrap bg-img" data-bg="/assets/img/extra/page-header.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="page-tittle-content">
                            <div class="page-tittle-inner">
                                <h2>{{ 'about_me' | i18n }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area ==-->

    <!--== Start About Page Content  ==-->
    <div class="about-page-content">
        <div class="container">
            <div class="row mb-100 mb-sm-30">
                <div class="col-12 text-center">
                    <img src="/assets/img/about/about-us.jpg" alt="About" />
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-6 col-lg-4">
                    <div class="about-thumb">
                        <img src="/assets/img/about/home-3-about.jpg" alt="About" />
                    </div>
                </div>

                <div class="col-md-6 col-lg-8">
                    <div class="about-txt">
                        <div class="section-title section-title--3 left-align mb-0">
                            <p>Whether it’s edgy and modern or sleek and elegant, I strive to create the perfect look for
                                each individual client. I'm also determined to provide each and every client with the
                                highest degree of customer service in a friendly and professional setting. I am dedicated
                                to performing our craft exceptionally well. To sum up: I do not want any single client to
                                believe he or she can be better served at any other salon.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End About Page Content  ==-->

    <!--== Start Feature Area ==-->
    <div class="feature-area sm-top bg-img sp-y" data-bg="/assets/img/extra/home-5-feature-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title section-title--3 white">
                        <h2>Welcome to Hopkins</h2>
                        <p>Whether it’s edgy and modern or sleek and elegant, we strive to create the perfect look for each
                            individual client. We’re also determined to provide each and every client with the highest
                            degree of customer service in a friendly and professional setting. We are dedicated to
                            performing our craft exceptionally well. To sum up: we do not want any single client to believe
                            he or she can be better served at any other salon.</p>
                    </div>
                </div>
            </div>

            <div class="row mtn-30">
                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="feature-item feature-item--light">
                        <div class="feature-item__icon">
                            <img src="/assets/img/feature/scissors.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">The hair cutting and styling with 10 years of experience.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="feature-item feature-item--light">
                        <div class="feature-item__icon">
                            <img src="/assets/img/feature/spray.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">Update the latest technology and tendency in the world.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="feature-item feature-item--light">
                        <div class="feature-item__icon">
                            <img src="/assets/img/feature/hair-dry.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">Using the best products from the top providers.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="feature-item feature-item--light">
                        <div class="feature-item__icon">
                            <img src="/assets/img/feature/razor.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">Our staffs have high experience in customer service.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Feature Area ==-->

    <!--== Start Services Area ==-->
    <div class="service-area sp-top b bg-img" data-bg="/assets/img/service/service-bg-2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title section-title--3">
                        <h2>My Services</h2>
                        <p>I give a thorough consultation concerning your individual needs and desires before every service.
                            My main goal is to make sure I meet and exceed your expectations.</p>
                    </div>
                </div>
            </div>

            <div class="row mtn-30">
                <div class="col-sm-6 col-lg-3">
                    <!-- Start Service Item -->
                    <div class="service-item service-item--2">
                        <img src="/assets/img/service/h-3-1.png" alt="Service">
                    </div>
                    <!-- End Service Item -->
                </div>

                <div class="col-sm-6 col-lg-3">
                    <!-- Start Service Item -->
                    <div class="service-item service-item--2">
                        <img src="/assets/img/service/h-3-2.png" alt="Service">
                    </div>
                    <!-- End Service Item -->
                </div>

                <div class="col-sm-6 col-lg-3">
                    <!-- Start Service Item -->
                    <div class="service-item service-item--2">
                        <img src="/assets/img/service/h-3-3.png" alt="Service">
                    </div>
                    <!-- End Service Item -->
                </div>

                <div class="col-sm-6 col-lg-3">
                    <!-- Start Service Item -->
                    <div class="service-item service-item--2">
                        <img src="/assets/img/service/h-3-4.png" alt="Service">
                    </div>
                    <!-- End Service Item -->
                </div>
            </div>
        </div>
    </div>
    <!--== End Services Area ==-->

    <!--== Start Our Salon Area ==-->
    <div class="our-salon-area sm-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title section-title--3">
                        <h2>Our Salon</h2>
                    </div>
                </div>
            </div>

            <div class="row mtn-30 image-gallery-popup">
                <div class="col-sm-6 col-lg-3">
                    <figure class="salon-gallery-item" data-mfp-src="/assets/img/gallery/01.jpg">
                        <img src="/assets/img/gallery/01.jpg" alt="Salon" />
                    </figure>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <figure class="salon-gallery-item" data-mfp-src="/assets/img/gallery/02.jpg">
                        <img src="/assets/img/gallery/02.jpg" alt="Salon" />
                    </figure>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <figure class="salon-gallery-item" data-mfp-src="/assets/img/gallery/03.jpg">
                        <img src="/assets/img/gallery/03.jpg" alt="Salon" />
                    </figure>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <figure class="salon-gallery-item" data-mfp-src="/assets/img/gallery/04.jpg">
                        <img src="/assets/img/gallery/04.jpg" alt="Salon" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!--== End Our Salon Area ==-->

    <!--== Start Team Area Wrapper ==-->
    <div class="team-area bg-softWhite sp-y sm-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title section-title--3">
                        <h2>Meet Me</h2>
                    </div>
                </div>
            </div>

            <div class="row mtn-30">
                <div class="col-sm-6 col-lg-3">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="team-member__thumb">
                            <a href="about-me.html"><img src="/assets/img/team/04.jpg" alt="Team" /></a>
                        </div>
                        <div class="team-member__info">
                            <a class="title" href="about-me.html">
                                <h6>James Hansen <span class="designation">Stylist</span></h6>
                            </a>
                            <div class="social-icons">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-linkedin"></i></a>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>

                <div class="col-sm-6 col-lg-3">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="team-member__thumb">
                            <a href="about-me.html"><img src="/assets/img/team/05.jpg" alt="Team" /></a>
                        </div>
                        <div class="team-member__info">
                            <a class="title" href="about-me.html">
                                <h6>Alexa Gómez <span class="designation">Stylist</span></h6>
                            </a>
                            <div class="social-icons">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-linkedin"></i></a>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>

                <div class="col-sm-6 col-lg-3">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="team-member__thumb">
                            <a href="about-me.html"><img src="/assets/img/team/06.jpg" alt="Team" /></a>
                        </div>
                        <div class="team-member__info">
                            <a class="title" href="about-me.html">
                                <h6>ANDREA BELL <span class="designation">Stylist</span></h6>
                            </a>
                            <div class="social-icons">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-linkedin"></i></a>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>

                <div class="col-sm-6 col-lg-3">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="team-member__thumb">
                            <a href="about-me.html"><img src="/assets/img/team/07.jpg" alt="Team" /></a>
                        </div>
                        <div class="team-member__info">
                            <a class="title" href="about-me.html">
                                <h6>NATASHA CAPTER <span class="designation">Stylist</span></h6>
                            </a>
                            <div class="social-icons">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-linkedin"></i></a>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>
            </div>
        </div>
    </div>
    <!--== End Team Area Wrapper ==-->
