---
layout: layout.njk
title: Sergey Siminel - About Me
---

    <!--== Start Page Header Area ==-->
    <div class="page-header-wrap">
        <div class="page-tittle-wrap bg-img" data-bg="/assets/img/extra/page-header.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="page-tittle-content">
                            <div class="page-tittle-inner">
                                <h2>{{ 'about_me' | i18n }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area ==-->

    <!--== Start About Page Content  ==-->
    <div class="about-page-content">
        <div class="container">
            <div class="row mb-50 mb-sm-25">
                <div class="col-12 text-center">
                    <img src="/assets/img/about/about-us.jpg" alt="About" />
                </div>
            </div>

            <div class="row align-items-center mx-auto">
                <div class="col-md-8 col-lg-10">
                    <div class="about-txt">
                        <div class="section-title section-title--3 left-align mb-0">
                        <p>Met een decennium aan expertise en een passie voor haarkunst is hij toegewijd aan het vak van kapper. 
                        Zijn missie is voortdurende groei, zodat hij altijd de beste diensten kan leveren en zijn klanten tevreden achterlaat.</p>
                        <p>Hij blijft op de hoogte van de nieuwste trends en technieken, waardoor hij unieke, moderne looks kan creëren. 
                        Zijn doel is om uw natuurlijke schoonheid te accentueren en een stijl te creëren die bij uw persoonlijkheid en levensstijl past. 
                        Hij luistert naar uw voorkeuren en werkt samen met u om uw zelfvertrouwen en uitstraling te vergroten.</p>
                        <p>Met passie, toewijding en oog voor detail streeft hij ernaar om u met een glimlach naar huis te sturen, trots op uw 
                        nieuwe look. Maak een afspraak en laat hem uw haardromen waarmaken, uw persoonlijke stijl onthullen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End About Page Content  ==-->

    <!--== Start Team Area Wrapper ==-->
    <div class="team-area bg-softWhite sp-y sm-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title section-title--3">
                        <h2>Ontmoet mij</h2>
                    </div>
                </div>
            </div>

            <div class="row mtn-30">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mx-auto">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="team-member__thumb">
                            <a href="{{ '/over-mij' | locale_url }}"><img src="/assets/img/team/07.jpg" alt="Team" /></a>
                        </div>
                        <div class="team-member__info text-center">
                            <a class="title" href="{{ '/over-mij' | locale_url }}">
                                <h6>Sergey Siminel <span class="designation">Hairstylist</span></h6>
                            </a>
                            <p>Of het nu gedurfd en modern is of strak en elegant, ik streef ernaar de perfecte look te creëren voor
                            elke individuele klant. Ik ben ook vastbesloten om elke klant de hoogste mate van klantenservice te bieden
                            in een vriendelijke en professionele omgeving. Ik ben toegewijd aan het uitoefenen van ons vak op uitzonderlijk
                            niveau. Kortom: ik wil niet dat een enkele klant gelooft dat hij of zij beter bediend kan worden bij een andere salon.</p>
                            <div class="social-icons">
                                <a href="https://www.facebook.com/SergiuSiminel"><i class="ion-social-facebook"></i></a>
                                <a href="https://instagram.com/sergeysiminel.nl?igshid=OGQ5ZDc2ZA=="><i class="ion-social-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>
            </div>
        </div>
    </div>
    <!--== End Team Area Wrapper ==-->
