---
layout: layout.njk
title: Sergiu Siminel - Home
---

    <!--== Start Page Header Area ==-->
    <div class="page-header-wrap">
        <div class="page-tittle-wrap bg-img" data-bg="assets/img/extra/page-header.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="page-tittle-content">
                            <div class="page-tittle-inner">
                                <h2>Diensten</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area ==-->

    <!--== Start Service Page Content Area ==-->
    <div class="service-area sp-top b bg-img" data-bg="assets/img/service/service-bg-2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title section-title--3">
                        <h2>Our Services</h2>
                        <p>A complimentary thorough consultation concerning each client’s individual needs and desires is
                            conducted before every service. Our main goal is to make sure we meet and exceed our clients
                            expectations.</p>
                    </div>
                </div>
            </div>

            <div class="row mtn-30">
                <div class="col-sm-6 col-lg-3">
                    <!-- Start Service Item -->
                    <div class="service-item service-item--2">
                        <img src="assets/img/service/h-3-1.png" alt="Service">
                    </div>
                    <!-- End Service Item -->
                </div>

                <div class="col-sm-6 col-lg-3">
                    <!-- Start Service Item -->
                    <div class="service-item service-item--2">
                        <img src="assets/img/service/h-3-2.png" alt="Service">
                    </div>
                    <!-- End Service Item -->
                </div>

                <div class="col-sm-6 col-lg-3">
                    <!-- Start Service Item -->
                    <div class="service-item service-item--2">
                        <img src="assets/img/service/h-3-3.png" alt="Service">
                    </div>
                    <!-- End Service Item -->
                </div>

                <div class="col-sm-6 col-lg-3">
                    <!-- Start Service Item -->
                    <div class="service-item service-item--2">
                        <img src="assets/img/service/h-3-4.png" alt="Service">
                    </div>
                    <!-- End Service Item -->
                </div>
            </div>
        </div>
    </div>
    <!--== End Service Page Content Area ==-->

    <!--== Start Feature Area ==-->
    <div class="feature-area bg-img sp-y" data-bg="assets/img/slider/home3/slide-bg.png">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title section-title--3">
                        <h2>Welcome to Hopkins</h2>
                        <p>Whether it’s edgy and modern or sleek and elegant, we strive to create the perfect look for each
                            individual client. We’re also determined to provide each and every client with the highest
                            degree of customer service in a friendly and professional setting. We are dedicated to
                            performing our craft exceptionally well. To sum up: we do not want any single client to believe
                            he or she can be better served at any other salon.</p>
                    </div>
                </div>
            </div>

            <div class="row mtn-30">
                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="feature-item">
                        <div class="feature-item__icon">
                            <img src="assets/img/feature/scissors.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">The hair cutting and styling with 10 years of experience.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="feature-item">
                        <div class="feature-item__icon">
                            <img src="assets/img/feature/spray.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">Update the latest technology and tendency in the world.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="feature-item">
                        <div class="feature-item__icon">
                            <img src="assets/img/feature/hair-dry.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">Using the best products from the top providers.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="feature-item">
                        <div class="feature-item__icon">
                            <img src="assets/img/feature/razor.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">Our staffs have high experience in customer service.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Feature Area ==-->
