---
layout: layout.njk
title: Sergiu Siminel - Home
---

<!--== Start Hero Banner Area ==-->
<div class="hero-banner-area hero-banner--full-height bg-img" data-bg="/assets/img/hero-bg/02.jpg">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-lg-6 text-center">
                <div class="hero-banner-content">
                    <h5>Sergiu Siminel</h5>
                    <h2>Women's and Men's Hairdresser</h2>
                    <a href="about.html" class="btn btn-black">Explore now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Hero Banner Area ==-->

<!--== Start About Area ==-->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-6">
                <div class="about-thumb mtn-100 mt-md-90 mt-sm-60">
                    <img src="/assets/img/about/home-2-about.jpg" alt="About" />
                </div>
            </div>

            <div class="col-md-7 col-lg-5 ms-auto">
                <div class="director-message-content sp-top">
                    <div class="section-title mb-55 mb-md-30 mb-sm-15">
                        <h2>About Me</h2>
                    </div>
                    <p><br>With ten years of knowledge and experience, I am a hairdresser who is dedicated to the craft with heart and soul. My vision is continuous development, so that I can always offer the best and see the happiness shine in the eyes of my clients.
                    <br><br>I always strive to stay up-to-date with the latest color techniques and hair styles, so that I can surprise my clients with unique and modern looks. For me, hairdressing is not just a profession, it's an art that I practice with love and passion.
                    <br><br>My goal is to accentuate your natural beauty and create a style that perfectly suits your personality and lifestyle. I take the time to listen to your desires, and together we work on a look that makes you feel confident and radiant.
                    <br><br>With passion, dedication, and attention to detail, I want to ensure that you leave with a smile and feel proud of your new look. So, come by and let me bring your hair wishes to life, as we together unleash your personal style. I look forward to welcoming you to my salon and making you shine with a beautiful new hair creation.
                    </p>
                    <div class="director-info">
                        <h6>Sergiu Siminel <span class="designation">Hairdresser</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End About Area ==-->

<!--== Start Services Area ==-->
<div class="service-area sm-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h2>Our Services</h2>
                </div>
            </div>
        </div>

        <div class="row mtn-30">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <!-- Start Service Item -->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="/assets/img/service/01.jpg" alt="Service" />
                    </figure>

                    <div class="service-content">
                        <div class="service-content__title">
                            <div class="icon">
                                <img src="/assets/img/service/icon/color.png" alt="Service" />
                            </div>
                            <div class="heading">
                                <h3>Coloring</h3>
                            </div>
                        </div>

                        <div class="service-content_txt">
                            <p>Revamp your hair with our expert dyeing, blending vibrant shades using latest techniques 
                            to match your unique style.</p>
                        </div>

                        <div class="service-content__btn">
                            <a href="diensten" class="btn-service">Read more</a>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <!-- Start Service Item -->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="/assets/img/service/02.png" alt="Service" />
                    </figure>

                    <div class="service-content">
                        <div class="service-content__title">
                            <div class="icon">
                                <img src="/assets/img/service/icon/haircut.png" alt="Service" />
                            </div>
                            <div class="heading">
                                <h3>Haircut</h3>
                            </div>
                        </div>

                        <div class="service-content_txt">
                            <p>Whether it’s edgy and modern or sleek and elegant, we strive to create the perfect look for each
                            individual client.</p>
                        </div>

                        <div class="service-content__btn">
                            <a href="diensten" class="btn-service">Read more</a>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <!-- Start Service Item -->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="/assets/img/service/03.jpg" alt="Service" />
                    </figure>

                    <div class="service-content">
                        <div class="service-content__title">
                            <div class="icon">
                                <img src="/assets/img/service/icon/hairstyle.png" alt="Service" />
                            </div>
                            <div class="heading">
                                <h3>Blowdrying</h3>
                            </div>
                        </div>

                        <div class="service-content_txt">
                            <p>Explore captivating hairstyles at our salon, tailored to enhance your charm 
                            and boost your confidence.</p>
                        </div>

                        <div class="service-content__btn">
                            <a href="diensten" class="btn-service">Read more</a>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
            </div>
        </div>
    </div>
</div>
<!--== End Services Area ==-->

<!--== Start Banner Area ==-->
 <div class="call-to-action-area sp-top sm-top bg-img" data-bg="/assets/img/banner/home-1-banner-1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                    <div class="call-to-action-content">
                        <p>Experience personalized care for your distinct style with our dedicated hairstylist. Your individuality takes 
                            center stage as our expert crafts a haircut that aligns perfectly with your preferences. Embrace the 
                            attention you deserve and book your appointment to enjoy a haircut that's uniquely and meticulously 
                            tailored to you.</p>
                        <a href="/contact"
                        <button class="btn btn-hvr-brand">MAKE AN APPOINTMENT</button>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--== End Banner Area ==-->

<!-- Add some white space here -->
<div class="white-space"></div>

<!--== Start Feature Area ==-->
    <div class="feature-area bg-img sp-y" data-bg="/assets/img/slider/home3/slide-bg.png">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title section-title--3">
                        <h2>Partners</h2>
                        <p>Join us on a journey of collaboration and growth. We're excited to extend an invitation 
                            to potential partners who share our vision and values. Together, we can amplify our impact, 
                            innovate, and create lasting success. Discover the possibilities of partnership and let's shape 
                            the future together.</p>
                        <a href="/partners"
                        <button class="btn btn-hvr-brand">BECOME PARTNERS</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row mtn-30">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="feature-item">
                        <div class="feature-item__icon">
                            <img src="/assets/img/feature/drsorbie.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">Dr. Sorbie, a celebrated natural hair brand, fuses science and nature in transformative 
                                products. From revitalizing shampoos to enriching conditioners, embrace healthier, radiant hair with us.</p>
                        </div>
                    </div>
                </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="feature-item">
                        <div class="feature-item__icon">
                            <img src="/assets/img/feature/brae.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">Elevate your hair routine with the premium products designed to nurture, strengthen, 
                                and amplify your locks' natural beauty.</p>
                        </div>
                    </div>
                </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="feature-item">
                        <div class="feature-item__icon">
                            <img src="/assets/img/feature/redken.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">Pioneering haircare blending science and creativity. Trusted globally for vibrant colors, 
                                transformative treatments, and a fusion of art and science that brings your hair to life.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Feature Area ==-->


<!--== Start Blog Post Area ==-->
<div class="blog-area-wrapper sm-top sm-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h6>Blog Update</h6>
                    <h2>From our blog</h2>
                </div>
            </div>
        </div>

        <div class="row mtn-30 align-items-center">
            <div class="col-md-6 col-lg-4 text-center">
                <!--== Start Blog Post Item ==-->
                <div class="blog-post">
                    <figure class="blog-post__thumb">
                        <img src="/assets/img/blog/01.jpg" alt="Blog" />

                        <figcaption class="blog-action">
                            <a href="/assets/img/blog/01.jpg" class="btn-img-popup"><i class="ion-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="blog-post__content">
                        <h6 class="post-date">March 16, 2019</h6>
                        <h2 class="post-title"><a href="blog-details.html">Camellia oil</a>
                        </h2>
                        <div class="post-excerpt">
                            <p>Our Stylist at Bowie Salon and Spa are all certified by Keratin Complex and and
                                highly trained to give you the exact service</p>
                        </div>
                        <a href="blog-details.html" class="btn-read-more">Read More..</a>
                    </div>
                </div>
                <!--== End Blog Post Item ==-->
            </div>

            <div class="col-md-6 col-lg-4 text-center">
                <!--== Start Blog Post Item ==-->
                <div class="blog-post">
                    <figure class="blog-post__thumb">
                        <img src="/assets/img/blog/01.jpg" alt="Blog" />

                        <figcaption class="blog-action">
                            <a href="/assets/img/blog/01.jpg" class="btn-img-popup"><i class="ion-search"></i></a>
                        </figcaption>
                    </figure>

                    <div class="blog-post__content">
                        <h6 class="post-date">March 16, 2019</h6>
                        <h2 class="post-title"><a href="blog-details.html">Learn about Karatin Hair Smoothing</a>
                        </h2>
                        <div class="post-excerpt">
                            <p>Our Stylist at Bowie Salon and Spa are all certified by Keratin Complex and and
                                highly trained to give you the exact service</p>
                        </div>
                        <a href="blog-details.html" class="btn-read-more">Read More..</a>
                    </div>
                </div>
                <!--== End Blog Post Item ==-->
            </div>

            <div class="col-md-6 col-lg-4 text-center">
                <!--== Start Blog Post Item ==-->
                <div class="blog-post">
                    <figure class="blog-post__thumb">
                        <img src="/assets/img/blog/02.jpg" alt="Blog" />

                        <figcaption class="blog-action">
                            <a href="/assets/img/blog/02.jpg" class="btn-img-popup"><i class="ion-search"></i></a>
                        </figcaption>
                    </figure>

                    <div class="blog-post__content">
                        <h6 class="post-date">March 16, 2019</h6>
                        <h2 class="post-title"><a href="blog-details.html">Hair color trends for fall 19</a>
                        </h2>
                        <div class="post-excerpt">
                            <p>Our Stylist at Bowie Salon and Spa are all certified by Keratin Complex and and
                                highly trained to give you the exact service</p>
                        </div>
                        <a href="blog-details.html" class="btn-read-more">Read More..</a>
                    </div>
                </div>
                <!--== End Blog Post Item ==-->
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <div class="all-content-button mt-55 mt-sm-35">
                    <a href="blog.html" class="btn btn-bordered">View All Post</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Blog Post Area ==-->


<!-- Scroll Top Button -->
<button class="btn-scroll-top"><i class="ion-chevron-up"></i></button>

<!--== Start Quick View Modal ==-->
<div class="modal fade" id="quickViewModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <!-- Start Product Thumbnail Area -->
                        <div class="col-md-6">
                            <div class="product-thumb-area">
                                <div class="product-details-thumb-slider">
                                    <figure class="port-details-thumb-item" data-thumb="/assets/img/product/prod-details-1.jpg">
                                        <img src="/assets/img/product/prod-details-1.jpg" alt="Product Details" />
                                    </figure>
                                    <figure class="port-details-thumb-item" data-thumb="/assets/img/product/prod-details-2.jpg">
                                        <img src="/assets/img/product/prod-details-2.jpg" alt="Product Details" />
                                    </figure>
                                    <figure class="port-details-thumb-item" data-thumb="/assets/img/product/prod-details-3.jpg">
                                        <img src="/assets/img/product/prod-details-3.jpg" alt="Product Details" />
                                    </figure>
                                    <figure class="port-details-thumb-item" data-thumb="/assets/img/product/prod-details-4.jpg">
                                        <img src="/assets/img/product/prod-details-4.jpg" alt="Product Details" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <!-- End Product Thumbnail Area -->

                        <!-- Start Product Info Area -->
                        <div class="col-md-6">
                            <div class="product-details-info-content-wrap">
                                <div class="prod-details-info-content">
                                    <h2 class="h4">Anti-Humidty Hair Spray</h2>
                                    <div class="price-group">
                                        <del class="old-price">$99.00</del>
                                        <span class="price">$69.99</span>
                                    </div>
                                    <p>If you’ve ever missed a shot because your phone just didn’t focus fast enough, or
                                        your
                                        pictures are coming out blurry with your point-and-shoot model, step up to
                                        faster
                                        autofocus, more features, and higher quality results with a digital SLR camera,
                                        or
                                        DSLR,
                                        from Best Buy.</p>

                                    <div class="product-config mt-30">
                                        <!-- Start Color Choose Option -->
                                        <div class="config-item">
                                            <h5 class="config-name">Color: <b>Black</b></h5>
                                            <ul class="config-list nav">
                                                <li class="active"><img src="/assets/img/color/black.jpg" alt="Black">
                                                </li>
                                                <li><img src="/assets/img/color/yellow.jpg" alt="Yellow"></li>
                                            </ul>
                                        </div>
                                        <!-- End Color Choose Option -->

                                        <!-- Start Size Select Option -->
                                        <div class="config-item">
                                            <h5 class="config-name">Size: <b>Small</b></h5>
                                            <ul class="config-list nav">
                                                <li class="active"><span>S</span></li>
                                                <li><span>M</span></li>
                                                <li><span>L</span></li>
                                                <li><span>XL</span></li>
                                            </ul>
                                        </div>
                                        <!-- End Size Select Option -->
                                    </div>

                                    <div class="product-action mt-30">
                                        <div class="action-top d-sm-flex">
                                            <div class="pro-qty mr-3 mb-30 mb-sm-0">
                                                <label for="quantity" class="sr-only">Quantity</label>
                                                <input type="text" id="quantity" title="Quantity" value="1" />
                                            </div>
                                            <button class="btn btn-hvr-brand">Add Cart</button>
                                        </div>
                                    </div>

                                    <div class="prod-details-footer mt-30">
                                        <div class="prod-details-footer__item">
                                            <div class="footer-item-left">
                                                <h5 class="item-head"><i class="fa fa-tags"></i> Categories:</h5>
                                            </div>
                                            <div class="footer-item-right">
                                                <ul class="cate-list nav">
                                                    <li><a href="#">Design</a></li>
                                                    <li><a href="#">Interior</a></li>
                                                    <li><a href="#">Multi</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="prod-details-footer__item">
                                            <div class="footer-item-left">
                                                <h5 class="item-head"><i class="fa fa-share-alt"></i> Share:</h5>
                                            </div>

                                            <div class="footer-item-right">
                                                <div class="share-item">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Product Info Area -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Quick View Modal ==-->

<!-- Start Responsive Menu Wrapper -->
<aside class="off-canvas-wrapper off-canvas-menu">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner">
        <!-- Start Off Canvas Content -->
        <div class="off-canvas-content">
            <div class="off-canvas-header">
                <div class="logo">
                    <a href="index.html"><img src="/assets/img/logo.png" alt="Logo"></a>
                </div>
                <div class="close-btn">
                    <button class="btn-close"><i class="ion-close"></i></button>
                </div>
            </div>

            <div class="res-mobile-menu mobile-menu">

            </div>

            <div class="mobile-menu res-site-config">

            </div>
        </div>
    </div>
</aside>
<!-- End Responsive Menu Wrapper -->
