---
layout: layout.njk
title: Sergiu Siminel - Home
---

<!--== Start Hero Banner Area ==-->
<div class="hero-banner-area hero-banner--full-height bg-img" data-bg="assets/img/hero-bg/02.jpg">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-lg-6 text-center">
                <div class="hero-banner-content">
                    <h5>Sergiu Siminel</h5>
                    <h2>Dames- en herenkapper</h2>
                    <a href="about.html" class="btn btn-black">Ontdek Nu</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Hero Banner Area ==-->

<!--== Start About Area ==-->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-6">
                <div class="about-thumb mtn-100 mt-md-90 mt-sm-60">
                    <img src="assets/img/about/home-2-about.jpg" alt="About" />
                </div>
            </div>

            <div class="col-md-7 col-lg-5 ms-auto">
                <div class="director-message-content sp-top">
                    <div class="section-title mb-55 mb-md-30 mb-sm-15">
                        <h2>Over Mij</h2>
                    </div>
                    <p><br>Met tien jaar aan kennis en ervaring ben ik een kapper die met hart en ziel voor het vak staat. Mijn visie is voortdurende ontwikkeling, zodat ik altijd het beste kan bieden en het geluk in de ogen van mijn klanten kan zien stralen.
                    <br><br>Ik streef er altijd naar om bij te blijven met de nieuwste kleurtechnieken en haarstijlen, zodat ik mijn klanten kan verrassen met unieke en moderne looks. Voor mij is kapperschap niet zomaar een beroep, het is een kunst die ik met liefde en passie uitoefen.
                    <br><br>Mijn doel is om jouw natuurlijke schoonheid te benadrukken en een stijl te creëren die perfect bij jouw persoonlijkheid en levensstijl past. Ik neem de tijd om naar jouw wensen te luisteren en samen werken we aan een look waar jij je zelfverzekerd en stralend bij voelt.
                    <br><br>Met passie, toewijding en aandacht voor detail wil ik ervoor zorgen dat jij met een glimlach de deur uitgaat en trots bent op je nieuwe look. Dus kom langs en laat mij je haarwensen waarmaken, terwijl we samen jouw persoonlijke stijl tot leven brengen. Ik kijk ernaar uit om je te verwelkomen in mijn salon en je te laten stralen met een prachtige nieuwe haarcreatie.
                    </p>
                    <div class="director-info">
                        <h6>Sergiu Siminel <span class="designation">Kapper</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End About Area ==-->

<!--== Start Schedule Area ==-->
<div class="schedule-area fix sm-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 m-auto">
                <div class="opening-hours-wrap layout-2">
                    <h4>Opening Hours</h4>

                    <div class="table-responsive">
                        <table class="table opening-hour-table">
                            <tr>
                                <td class="day">Monday - Friday</td>
                                <td>9am - 22pm</td>
                            </tr>
                            <tr>
                                <td class="day">Saturday</td>
                                <td>10am - 19pm</td>
                            </tr>
                            <tr>
                                <td class="day">Sunday</td>
                                <td>10am - 15pm</td>
                            </tr>
                        </table>
                    </div>

                    <a href="#" class="btn btn-hvr-brand">Book Now</a>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="video-popup-content video-popup-content--2  mt-md-60 mt-sm-40">
                    <img src="assets/img/extra/video-popup-bg.jpg" alt="Video" />

                    <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="btn-play btn-video-popup"><i
                                class="ion-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Schedule Area ==-->

<!--== Start Services Area ==-->
<div class="service-area sm-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h6>Our Services</h6>
                    <h2>Trendy Salon & Spa</h2>
                </div>
            </div>
        </div>

        <div class="row mtn-30">
            <div class="col-md-6 col-xl-3">
                <!-- Start Service Item -->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="assets/img/service/01.jpg" alt="Service" />
                    </figure>

                    <div class="service-content">
                        <div class="service-content__title">
                            <div class="icon">
                                <img src="assets/img/service/icon/color.png" alt="Service" />
                            </div>
                            <div class="heading">
                                <h3>Coloring</h3>
                            </div>
                        </div>

                        <div class="service-content_txt">
                            <p>Pellentesque aliquet, ligula non malesuada mollis, tortor sapien eleifend lacus, non
                                blandit purus risus.</p>
                        </div>

                        <div class="service-content__btn">
                            <a href="service-details.html" class="btn-service">Book Online</a>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
            </div>

            <div class="col-md-6 col-xl-3">
                <!-- Start Service Item -->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="assets/img/service/02.jpg" alt="Service" />
                    </figure>

                    <div class="service-content">
                        <div class="service-content__title">
                            <div class="icon">
                                <img src="assets/img/service/icon/haircut.png" alt="Service" />
                            </div>
                            <div class="heading">
                                <h3>Haircut</h3>
                            </div>
                        </div>

                        <div class="service-content_txt">
                            <p>Pellentesque aliquet, ligula non malesuada mollis, tortor sapien eleifend lacus, non
                                blandit purus risus.</p>
                        </div>

                        <div class="service-content__btn">
                            <a href="service-details.html" class="btn-service">Book Online</a>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
            </div>

            <div class="col-md-6 col-xl-3">
                <!-- Start Service Item -->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="assets/img/service/03.jpg" alt="Service" />
                    </figure>

                    <div class="service-content">
                        <div class="service-content__title">
                            <div class="icon">
                                <img src="assets/img/service/icon/hairstyle.png" alt="Service" />
                            </div>
                            <div class="heading">
                                <h3>Hairstyle</h3>
                            </div>
                        </div>

                        <div class="service-content_txt">
                            <p>Pellentesque aliquet, ligula non malesuada mollis, tortor sapien eleifend lacus, non
                                blandit purus risus.</p>
                        </div>

                        <div class="service-content__btn">
                            <a href="service-details.html" class="btn-service">Book Online</a>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
            </div>

            <div class="col-md-6 col-xl-3">
                <!-- Start Service Item -->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="assets/img/service/04.jpg" alt="Service" />
                    </figure>

                    <div class="service-content">
                        <div class="service-content__title">
                            <div class="icon">
                                <img src="assets/img/service/icon/shave.png" alt="Service" />
                            </div>
                            <div class="heading">
                                <h3>Shave</h3>
                            </div>
                        </div>

                        <div class="service-content_txt">
                            <p>Pellentesque aliquet, ligula non malesuada mollis, tortor sapien eleifend lacus, non
                                blandit purus risus.</p>
                        </div>

                        <div class="service-content__btn">
                            <a href="service-details.html" class="btn-service">Book Online</a>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
            </div>
        </div>
    </div>
</div>
<!--== End Services Area ==-->

<!--== Start Banner Area ==-->
<div class="banner-area sm-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="banner-content">
                    <img src="assets/img/banner/home-1-banner-1.jpg" alt="Banner" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Banner Area ==-->

<!--== Start Call to action Area ==-->
<div class="call-to-action-area sp-top sm-top bg-img" data-bg="assets/img/extra/call-to-action.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="call-to-action-content">
                    <h4>IN ONZE HANDEN, KOMT JE HAAR TOT LEVEN</h4>
                    <img src="assets/img/extra/call-to-action-woman.png" alt="Hopkins" />
                    <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="btn-watch btn-video-popup"><i
                                class="ion-play"></i> Bekijk Video</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Call to action Area ==-->

<!--== Start Products Area ==-->
<div class="products-area sm-top">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h6>Our Products</h6>
                    <h2>Buy your favourite items</h2>
                </div>
            </div>
        </div>

        <div class="row mtn-30">
            <div class="col-sm-6 col-lg-3">
                <!-- Start Product Item -->
                <div class="product-item">
                    <div class="product-item__thumb">
                        <a href="single-product.html"><img src="assets/img/product/01.jpg" alt="Product" /></a>
                        <div class="product-action">
                            <a href="#quickViewModal" data-bs-toggle="modal" class="btn-quick-view">Quick View</a>
                            <a href="cart.html" class="btn-add-to-cart">Add to Cart</a>
                        </div>
                    </div>
                    <div class="product-item__info">
                        <a href="#" class="cate">Spray</a>
                        <h4><a href="single-product.html">Anti-Humidty Hair Spray</a></h4>
                        <span class="price">$40.99</span>
                    </div>
                </div>
                <!-- End Product Item -->
            </div>

            <div class="col-sm-6 col-lg-3">
                <!-- Start Product Item -->
                <div class="product-item">
                    <div class="product-item__thumb">
                        <a href="single-product.html"><img src="assets/img/product/02.jpg" alt="Product" /></a>
                        <div class="product-action">
                            <a href="#quickViewModal" data-bs-toggle="modal" class="btn-quick-view">Quick View</a>
                            <a href="cart.html" class="btn-add-to-cart">Add to Cart</a>
                        </div>
                    </div>
                    <div class="product-item__info">
                        <a href="#" class="cate">Cream</a>
                        <h4><a href="single-product.html">Sebastian Hair Cream</a></h4>
                        <span class="price">$20.99</span>
                    </div>
                </div>
                <!-- End Product Item -->
            </div>

            <div class="col-sm-6 col-lg-3">
                <!-- Start Product Item -->
                <div class="product-item">
                    <div class="product-item__thumb">
                        <a href="single-product.html"><img src="assets/img/product/03.jpg" alt="Product" /></a>
                        <div class="product-action">
                            <a href="#quickViewModal" data-bs-toggle="modal" class="btn-quick-view">Quick View</a>
                            <a href="cart.html" class="btn-add-to-cart">Add to Cart</a>
                        </div>
                    </div>
                    <div class="product-item__info">
                        <a href="#" class="cate">Shampoo</a>
                        <h4><a href="single-product.html">Leanse Extend Shampoo</a></h4>
                        <span class="price">$39.99</span>
                    </div>
                </div>
                <!-- End Product Item -->
            </div>

            <div class="col-sm-6 col-lg-3">
                <!-- Start Product Item -->
                <div class="product-item">
                    <div class="product-item__thumb">
                        <a href="single-product.html"><img src="assets/img/product/04.jpg" alt="Product" /></a>
                        <div class="product-action">
                            <a href="#quickViewModal" data-bs-toggle="modal" class="btn-quick-view">Quick View</a>
                            <a href="cart.html" class="btn-add-to-cart">Add to Cart</a>
                        </div>
                    </div>
                    <div class="product-item__info">
                        <a href="#" class="cate">Oil</a>
                        <h4><a href="single-product.html">Lorem Ipsum Shampoo</a></h4>
                        <span class="price">$19.29</span>
                    </div>
                </div>
                <!-- End Product Item -->
            </div>
        </div>
    </div>
</div>
<!--== End Products Area ==-->

<!--== Start Banner Area 2 ==-->
<div class="banner-area sm-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="banner-content">
                    <img src="assets/img/banner/home-1-banner-2.jpg" alt="Banner" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Banner Area 2 ==-->

<!--== Start Blog Post Area ==-->
<div class="blog-area-wrapper sm-top sm-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h6>Blog Update</h6>
                    <h2>From our blog</h2>
                </div>
            </div>
        </div>

        <div class="row mtn-30 align-items-center">
            <div class="col-md-6 col-lg-4 text-center">
                <!--== Start Blog Post Item ==-->
                <div class="blog-post">
                    <div class="blog-post__content">
                        <h6 class="post-date">March 16, 2019</h6>
                        <h2 class="post-title"><a href="blog-details.html">Camellia oil</a>
                        </h2>
                        <div class="post-excerpt">
                            <p>Our Stylist at Bowie Salon and Spa are all certified by Keratin Complex and and
                                highly trained to give you the exact service</p>
                        </div>
                        <a href="blog-details.html" class="btn-read-more">/ Read More</a>
                    </div>
                </div>
                <!--== End Blog Post Item ==-->
            </div>

            <div class="col-md-6 col-lg-4 text-center">
                <!--== Start Blog Post Item ==-->
                <div class="blog-post">
                    <figure class="blog-post__thumb">
                        <img src="assets/img/blog/01.jpg" alt="Blog" />

                        <figcaption class="blog-action">
                            <a href="assets/img/blog/01.jpg" class="btn-img-popup"><i class="ion-search"></i></a>
                        </figcaption>
                    </figure>

                    <div class="blog-post__content">
                        <h6 class="post-date">March 16, 2019</h6>
                        <h2 class="post-title"><a href="blog-details.html">Learn about Karatin Hair Smoothing</a>
                        </h2>
                        <div class="post-excerpt">
                            <p>Our Stylist at Bowie Salon and Spa are all certified by Keratin Complex and and
                                highly trained to give you the exact service</p>
                        </div>
                        <a href="blog-details.html" class="btn-read-more">/ Read More</a>
                    </div>
                </div>
                <!--== End Blog Post Item ==-->
            </div>

            <div class="col-md-6 col-lg-4 text-center">
                <!--== Start Blog Post Item ==-->
                <div class="blog-post">
                    <figure class="blog-post__thumb">
                        <img src="assets/img/blog/02.jpg" alt="Blog" />

                        <figcaption class="blog-action">
                            <a href="assets/img/blog/02.jpg" class="btn-img-popup"><i class="ion-search"></i></a>
                        </figcaption>
                    </figure>

                    <div class="blog-post__content">
                        <h6 class="post-date">March 16, 2019</h6>
                        <h2 class="post-title"><a href="blog-details.html">Hair color trends for fall 19</a>
                        </h2>
                        <div class="post-excerpt">
                            <p>Our Stylist at Bowie Salon and Spa are all certified by Keratin Complex and and
                                highly trained to give you the exact service</p>
                        </div>
                        <a href="blog-details.html" class="btn-read-more">/ Read More</a>
                    </div>
                </div>
                <!--== End Blog Post Item ==-->
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <div class="all-content-button mt-55 mt-sm-35">
                    <a href="blog.html" class="btn btn-bordered">View All Post</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Blog Post Area ==-->


<!-- Scroll Top Button -->
<button class="btn-scroll-top"><i class="ion-chevron-up"></i></button>

<!--== Start Quick View Modal ==-->
<div class="modal fade" id="quickViewModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <!-- Start Product Thumbnail Area -->
                        <div class="col-md-6">
                            <div class="product-thumb-area">
                                <div class="product-details-thumb-slider">
                                    <figure class="port-details-thumb-item" data-thumb="assets/img/product/prod-details-1.jpg">
                                        <img src="assets/img/product/prod-details-1.jpg" alt="Product Details" />
                                    </figure>
                                    <figure class="port-details-thumb-item" data-thumb="assets/img/product/prod-details-2.jpg">
                                        <img src="assets/img/product/prod-details-2.jpg" alt="Product Details" />
                                    </figure>
                                    <figure class="port-details-thumb-item" data-thumb="assets/img/product/prod-details-3.jpg">
                                        <img src="assets/img/product/prod-details-3.jpg" alt="Product Details" />
                                    </figure>
                                    <figure class="port-details-thumb-item" data-thumb="assets/img/product/prod-details-4.jpg">
                                        <img src="assets/img/product/prod-details-4.jpg" alt="Product Details" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <!-- End Product Thumbnail Area -->

                        <!-- Start Product Info Area -->
                        <div class="col-md-6">
                            <div class="product-details-info-content-wrap">
                                <div class="prod-details-info-content">
                                    <h2 class="h4">Anti-Humidty Hair Spray</h2>
                                    <div class="price-group">
                                        <del class="old-price">$99.00</del>
                                        <span class="price">$69.99</span>
                                    </div>
                                    <p>If you’ve ever missed a shot because your phone just didn’t focus fast enough, or
                                        your
                                        pictures are coming out blurry with your point-and-shoot model, step up to
                                        faster
                                        autofocus, more features, and higher quality results with a digital SLR camera,
                                        or
                                        DSLR,
                                        from Best Buy.</p>

                                    <div class="product-config mt-30">
                                        <!-- Start Color Choose Option -->
                                        <div class="config-item">
                                            <h5 class="config-name">Color: <b>Black</b></h5>
                                            <ul class="config-list nav">
                                                <li class="active"><img src="assets/img/color/black.jpg" alt="Black">
                                                </li>
                                                <li><img src="assets/img/color/yellow.jpg" alt="Yellow"></li>
                                            </ul>
                                        </div>
                                        <!-- End Color Choose Option -->

                                        <!-- Start Size Select Option -->
                                        <div class="config-item">
                                            <h5 class="config-name">Size: <b>Small</b></h5>
                                            <ul class="config-list nav">
                                                <li class="active"><span>S</span></li>
                                                <li><span>M</span></li>
                                                <li><span>L</span></li>
                                                <li><span>XL</span></li>
                                            </ul>
                                        </div>
                                        <!-- End Size Select Option -->
                                    </div>

                                    <div class="product-action mt-30">
                                        <div class="action-top d-sm-flex">
                                            <div class="pro-qty mr-3 mb-30 mb-sm-0">
                                                <label for="quantity" class="sr-only">Quantity</label>
                                                <input type="text" id="quantity" title="Quantity" value="1" />
                                            </div>
                                            <button class="btn btn-hvr-brand">Add Cart</button>
                                        </div>
                                    </div>

                                    <div class="prod-details-footer mt-30">
                                        <div class="prod-details-footer__item">
                                            <div class="footer-item-left">
                                                <h5 class="item-head"><i class="fa fa-tags"></i> Categories:</h5>
                                            </div>
                                            <div class="footer-item-right">
                                                <ul class="cate-list nav">
                                                    <li><a href="#">Design</a></li>
                                                    <li><a href="#">Interior</a></li>
                                                    <li><a href="#">Multi</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="prod-details-footer__item">
                                            <div class="footer-item-left">
                                                <h5 class="item-head"><i class="fa fa-share-alt"></i> Share:</h5>
                                            </div>

                                            <div class="footer-item-right">
                                                <div class="share-item">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Product Info Area -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Quick View Modal ==-->

<!-- Start Responsive Menu Wrapper -->
<aside class="off-canvas-wrapper off-canvas-menu">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner">
        <!-- Start Off Canvas Content -->
        <div class="off-canvas-content">
            <div class="off-canvas-header">
                <div class="logo">
                    <a href="index.html"><img src="assets/img/logo.png" alt="Logo"></a>
                </div>
                <div class="close-btn">
                    <button class="btn-close"><i class="ion-close"></i></button>
                </div>
            </div>

            <div class="res-mobile-menu mobile-menu">

            </div>

            <div class="mobile-menu res-site-config">

            </div>
        </div>
    </div>
</aside>
<!-- End Responsive Menu Wrapper -->
