---
layout: layout.njk
title: Sergiu Siminel - Home
---

    <!--== Start Page Header Area ==-->
    <div class="page-header-wrap">
        <div class="page-tittle-wrap bg-img" data-bg="assets/img/extra/page-header.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="page-tittle-content">
                            <div class="page-tittle-inner">
                                <h2>Partners</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area ==-->

    <!--== Start Team Page Content  ==-->
    <div class="our-team-area sm-top">
        <div class="container">
            <div class="row mtn-30">
                <div class="col-lg-6">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="team-member__thumb">
                                    <a href="about-me.html"><img src="assets/img/team/04.jpg" alt="Team" /></a>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="team-member__info">
                                    <a class="title" href="about-me.html">
                                        <h6>JOHNSON SMITH <span
                                            class="designation">Stylist</span></h6>
                                    </a>
                                    <div class="social-icons mb-10">
                                        <a href="#"><i class="ion-social-facebook"></i></a>
                                        <a href="#"><i class="ion-social-twitter"></i></a>
                                        <a href="#"><i class="ion-social-linkedin"></i></a>
                                        <a href="#"><i class="ion-social-pinterest"></i></a>
                                    </div>
                                    <p>Our estimable owner and senior stylist, he has 10+ years in the hair industry. It
                                        gives he great pleasure to create hairstyles that are fashion forward yet
                                        wearable.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>

                <div class="col-lg-6">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="team-member__thumb">
                                    <a href="about-me.html"><img src="assets/img/team/05.jpg" alt="Team" /></a>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="team-member__info">
                                    <a class="title" href="about-me.html">
                                        <h6>ANDREA BELL <span
                                            class="designation">Stylist</span></h6>
                                    </a>
                                    <div class="social-icons mb-10">
                                        <a href="#"><i class="ion-social-facebook"></i></a>
                                        <a href="#"><i class="ion-social-twitter"></i></a>
                                        <a href="#"><i class="ion-social-linkedin"></i></a>
                                        <a href="#"><i class="ion-social-pinterest"></i></a>
                                    </div>
                                    <p>Our estimable owner and senior stylist, he has 10+ years in the hair industry. It
                                        gives he great pleasure to create hairstyles that are fashion forward yet
                                        wearable.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>

                <div class="col-lg-6">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="team-member__thumb">
                                    <a href="about-me.html"><img src="assets/img/team/06.jpg" alt="Team" /></a>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="team-member__info">
                                    <a class="title" href="about-me.html">
                                        <h6>JENNIFER LUU <span
                                            class="designation">Stylist</span></h6>
                                    </a>
                                    <div class="social-icons mb-10">
                                        <a href="#"><i class="ion-social-facebook"></i></a>
                                        <a href="#"><i class="ion-social-twitter"></i></a>
                                        <a href="#"><i class="ion-social-linkedin"></i></a>
                                        <a href="#"><i class="ion-social-pinterest"></i></a>
                                    </div>
                                    <p>Our estimable owner and senior stylist, he has 10+ years in the hair industry. It
                                        gives he great pleasure to create hairstyles that are fashion forward yet
                                        wearable.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>

                <div class="col-lg-6">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="team-member__thumb">
                                    <a href="about-me.html"><img src="assets/img/team/07.jpg" alt="Team" /></a>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="team-member__info">
                                    <a class="title" href="about-me.html">
                                        <h6>NATASHA CAPTER <span
                                            class="designation">Stylist</span></h6>
                                    </a>
                                    <div class="social-icons mb-10">
                                        <a href="#"><i class="ion-social-facebook"></i></a>
                                        <a href="#"><i class="ion-social-twitter"></i></a>
                                        <a href="#"><i class="ion-social-linkedin"></i></a>
                                        <a href="#"><i class="ion-social-pinterest"></i></a>
                                    </div>
                                    <p>Our estimable owner and senior stylist, he has 10+ years in the hair industry. It
                                        gives he great pleasure to create hairstyles that are fashion forward yet
                                        wearable.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>
            </div>
        </div>
    </div>
    <!--== End Team Page Content  ==-->

    <!--== Start Team Area Wrapper ==-->
    <div class="team-area bg-softWhite sp-y sm-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title section-title--3">
                        <h2>Meet our team</h2>
                    </div>
                </div>
            </div>

            <div class="row mtn-30">
                <div class="col-sm-6 col-lg-3">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="team-member__thumb">
                            <a href="about-me.html"><img src="assets/img/team/04.jpg" alt="Team" /></a>
                        </div>
                        <div class="team-member__info">
                            <a class="title" href="about-me.html">
                                <h6>James Hansen <span class="designation">Stylist</span></h6>
                            </a>
                            <div class="social-icons">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-linkedin"></i></a>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>

                <div class="col-sm-6 col-lg-3">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="team-member__thumb">
                            <a href="about-me.html"><img src="assets/img/team/05.jpg" alt="Team" /></a>
                        </div>
                        <div class="team-member__info">
                            <a class="title" href="about-me.html">
                                <h6>Alexa Gómez <span class="designation">Stylist</span></h6>
                            </a>
                            <div class="social-icons">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-linkedin"></i></a>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>

                <div class="col-sm-6 col-lg-3">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="team-member__thumb">
                            <a href="about-me.html"><img src="assets/img/team/06.jpg" alt="Team" /></a>
                        </div>
                        <div class="team-member__info">
                            <a class="title" href="about-me.html">
                                <h6>ANDREA BELL <span class="designation">Stylist</span></h6>
                            </a>
                            <div class="social-icons">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-linkedin"></i></a>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>

                <div class="col-sm-6 col-lg-3">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="team-member__thumb">
                            <a href="about-me.html"><img src="assets/img/team/07.jpg" alt="Team" /></a>
                        </div>
                        <div class="team-member__info">
                            <a class="title" href="about-me.html">
                                <h6>NATASHA CAPTER <span class="designation">Stylist</span></h6>
                            </a>
                            <div class="social-icons">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-linkedin"></i></a>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>
            </div>
        </div>
    </div>
    <!--== End Team Area Wrapper ==-->