---
layout: layout.njk
title: Sergiu Siminel - Home
---
<!--== Start Hero Banner Area ==-->
<div class="hero-banner-area hero-banner--full-height bg-img" data-bg="/assets/img/hero-bg/02.jpg">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-lg-6 text-center">
                <div class="hero-banner-content">
                    <h5>Sergiu Siminel</h5>
                    <h2>Women's and Men's Hairdresser</h2>
                    <a href="/about" class="btn btn-black">Explore now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Hero Banner Area ==-->

<!--== Start About Area ==-->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-6">
                <div class="about-thumb mtn-100 mt-md-90 mt-sm-60">
                    <img src="/assets/img/about/home-2-about.jpg" alt="About" />
                </div>
            </div>

            <div class="col-md-7 col-lg-5 ms-auto">
                <div class="director-message-content sp-top">
                    <div class="section-title mb-55 mb-md-30 mb-sm-15">
                        <h2>{{ 'about_me' | i18n }}</h2>
                    </div>
                    <p><br>With ten years of knowledge and experience, I am a hairdresser who is dedicated to the craft with heart and soul. My vision is continuous development, so that I can always offer the best and see the happiness shine in the eyes of my clients.
                    <br><br>I always strive to stay up-to-date with the latest color techniques and hair styles, so that I can surprise my clients with unique and modern looks. For me, hairdressing is not just a profession, it's an art that I practice with love and passion.
                    <br><br>My goal is to accentuate your natural beauty and create a style that perfectly suits your personality and lifestyle. I take the time to listen to your desires, and together we work on a look that makes you feel confident and radiant.
                    <br><br>With passion, dedication, and attention to detail, I want to ensure that you leave with a smile and feel proud of your new look. So, come by and let me bring your hair wishes to life, as we together unleash your personal style. I look forward to welcoming you to my salon and making you shine with a beautiful new hair creation.
                    </p>
                    <div class="director-info">
                        <h6>Sergiu Siminel <span class="designation">Hairdresser</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End About Area ==-->

<!--== Start Services Area ==-->
<div class="service-area sm-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h2>Our Services</h2>
                </div>
            </div>
        </div>

        <div class="row mtn-30">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <!-- Start Service Item -->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="/assets/img/service/01.jpg" alt="Service" />
                    </figure>

                    <div class="service-content">
                        <div class="service-content__title">
                            <div class="icon">
                                <img src="/assets/img/service/icon/color.png" alt="Service" />
                            </div>
                            <div class="heading">
                                <h3>Coloring</h3>
                            </div>
                        </div>

                        <div class="service-content_txt">
                            <p>Revamp your hair with our expert dyeing, blending vibrant shades using latest techniques
                            to match your unique style.</p>
                        </div>

                        <div class="service-content__btn">
                            <a href="/diensten" class="btn-service">Read more</a>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <!-- Start Service Item -->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="/assets/img/service/02.png" alt="Service" />
                    </figure>

                    <div class="service-content">
                        <div class="service-content__title">
                            <div class="icon">
                                <img src="/assets/img/service/icon/haircut.png" alt="Service" />
                            </div>
                            <div class="heading">
                                <h3>Haircut</h3>
                            </div>
                        </div>

                        <div class="service-content_txt">
                            <p>Whether it’s edgy and modern or sleek and elegant, we strive to create the perfect look for each
                            individual client.</p>
                        </div>

                        <div class="service-content__btn">
                            <a href="/diensten" class="btn-service">Read more</a>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <!-- Start Service Item -->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="/assets/img/service/03.jpg" alt="Service" />
                    </figure>

                    <div class="service-content">
                        <div class="service-content__title">
                            <div class="icon">
                                <img src="/assets/img/service/icon/hairstyle.png" alt="Service" />
                            </div>
                            <div class="heading">
                                <h3>Blowdrying</h3>
                            </div>
                        </div>

                        <div class="service-content_txt">
                            <p>Explore captivating hairstyles at our salon, tailored to enhance your charm
                            and boost your confidence.</p>
                        </div>

                        <div class="service-content__btn">
                            <a href="/diensten" class="btn-service">Read more</a>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
            </div>
        </div>
    </div>
</div>
<!--== End Services Area ==-->

<!--== Start Banner Area ==-->
 <div class="call-to-action-area sp-top sm-top bg-img" data-bg="/assets/img/banner/home-1-banner-1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                    <div class="call-to-action-content">
                        <p>Experience personalized care for your distinct style with our dedicated hairstylist. Your individuality takes
                            center stage as our expert crafts a haircut that aligns perfectly with your preferences. Embrace the
                            attention you deserve and book your appointment to enjoy a haircut that's uniquely and meticulously
                            tailored to you.</p>
                    <a href="/contact" class="btn btn-hvr-brand">MAKE AN APPOINTMENT</a>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--== End Banner Area ==-->

<!-- Add some white space here -->
<div class="white-space"></div>

<!--== Start Feature Area ==-->
    <div class="feature-area bg-img sp-y" data-bg="/assets/img/slider/home3/slide-bg.png">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title section-title--3">
                        <h2>Partners</h2>
                        <p>Join us on a journey of collaboration and growth. We're excited to extend an invitation
                            to potential partners who share our vision and values. Together, we can amplify our impact,
                            innovate, and create lasting success. Discover the possibilities of partnership and let's shape
                            the future together.</p>
                        <a href="/partners" class="btn btn-hvr-brand">BECOME PARTNERS</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row mtn-30">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="feature-item">
                        <div class="feature-item__icon">
                            <img src="/assets/img/feature/drsorbie.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">Dr. Sorbie, a celebrated natural hair brand, fuses science and nature in transformative
                                products. From revitalizing shampoos to enriching conditioners, embrace healthier, radiant hair with us.</p>
                        </div>
                    </div>
                </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="feature-item">
                        <div class="feature-item__icon">
                            <img src="/assets/img/feature/brae.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">Elevate your hair routine with the premium products designed to nurture, strengthen,
                                and amplify your locks' natural beauty.</p>
                        </div>
                    </div>
                </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="feature-item">
                        <div class="feature-item__icon">
                            <img src="/assets/img/feature/redken.png" alt="Salon">
                        </div>
                        <div class="feature-item__text">
                            <p class="mb-0">Pioneering haircare blending science and creativity. Trusted globally for vibrant colors,
                                transformative treatments, and a fusion of art and science that brings your hair to life.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Feature Area ==-->


<!--== Start Blog Post Area ==-->

<div class="blog-area-wrapper sm-top sm-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h6>Blog Update</h6>
                    <h2>From our blog</h2>
                </div>
            </div>
        </div>

        <div class="row mtn-30 align-items-center">
            <div class="col-md-6 col-lg-4 text-center">
                <!--== Start Blog Post Item ==-->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="/assets/img/blog/01.png" alt="Blog" />
                    </figure>
                    <div class="blog-post__content">
                        <h6 class="post-date">27-8-2023</h6>
                        <h2 class="post-title"><a href="/blog/blog1">Essential Hair Treatment Tips for Healthy and Gorgeous Locks</a>
                        </h2>
                        <div class="post-excerpt">
                            <p>Discover the secret to lustrous, healthy hair with these essential tips: from regular deep conditioning 
                                to proper heat protection, scalp care, and choosing the right products. Embrace natural remedies and 
                                a balanced diet for vibrant locks that reflect your inner beauty.</p><br>
                        </div>
                        <a href="/blog/blog1" class="btn btn-bordered">Read More</a>
                    </div>
                </div>
                <!--== End Blog Post Item ==-->
            </div>

            <div class="col-md-6 col-lg-4 text-center">
                <!--== Start Blog Post Item ==-->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="/assets/img/blog/02.png" alt="Blog" />
                    </figure>

                    <div class="blog-post__content">
                        <h6 class="post-date">27-8-2023</h6>
                        <h2 class="post-title"><a href="/blog/blog2">Unveiling the Latest Hair Coloring Techniques: Elevate Your Look</a>
                        </h2>
                        <div class="post-excerpt">
                            <p>Discover the latest in hair coloring techniques, from the natural radiance of Balayage to the 
                                captivating allure of Smokey Silver and Neon Lights. These trends provide a unique way to express 
                                yourself through your hair, inviting you on a transformative journey of self-expression.</p><br>
                        </div>
                        <a href="/blog/blog2" class="btn btn-bordered">Read More</a>
                    </div>
                </div>
                <!--== End Blog Post Item ==-->
            </div>

            <div class="col-md-6 col-lg-4 text-center">
                <!--== Start Blog Post Item ==-->
                <div class="service-item">
                    <figure class="service-thumb">
                        <img src="/assets/img/blog/03.png" alt="Blog" />
                    </figure>

                    <div class="blog-post__content">
                        <h6 class="post-date">27-8-2023</h6>
                        <h2 class="post-title"><a href="/blog/blog3">Mastering Style with the Latest Cutting Techniques: A Closer Look</a>
                        </h2>
                        <div class="post-excerpt">
                            <p>Explore the realm of cutting-edge cutting techniques in our blog. From precision cuts to textured 
                                layers, find your perfect look with our skilled stylists. Whether it's a chic blunt bob or an edgy 
                                undercut, let your hair reflect your unique style at our salon.</p><br>
                        </div>
                        <a href="/blog/blog3" class="btn btn-bordered">Read More</a>
                    </div>
                </div>
                <!--== End Blog Post Item ==-->
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <div class="all-content-button mt-45 mt-sm-25">
                    <a href="/blog" class="btn btn-hvr-brand">View All Posts</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Blog Post Area ==-->


<!-- Scroll Top Button -->
<button class="btn-scroll-top"><i class="ion-chevron-up"></i></button>

<!--== Start Quick View Modal ==-->
<div class="modal fade" id="quickViewModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--== End Quick View Modal ==-->

<!-- Start Responsive Menu Wrapper -->
<aside class="off-canvas-wrapper off-canvas-menu">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner">
        <!-- Start Off Canvas Content -->
        <div class="off-canvas-content">
            <div class="off-canvas-header">
                <div class="logo">
                    <a href="index.html"><img src="/assets/img/logo.png" alt="Logo"></a>
                </div>
                <div class="close-btn">
                    <button class="btn-close"><i class="ion-close"></i></button>
                </div>
            </div>

            <div class="res-mobile-menu mobile-menu">

            </div>

            <div class="mobile-menu res-site-config">

            </div>
        </div>
    </div>
</aside>
<!-- End Responsive Menu Wrapper -->
