---
layout: layout.njk
title: Sergey Siminel - Home
---

    <!--== Start Page Header Area ==-->
    <div class="page-header-wrap">
        <div class="page-tittle-wrap bg-img" data-bg="/assets/img/extra/page-header.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="page-tittle-content">
                            <div class="page-tittle-inner">
                                <h2>{{ 'about_me' | i18n }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area ==-->

    <!--== Start About Page Content  ==-->
    <div class="about-page-content">
        <div class="container">
            <div class="row mb-50 mb-sm-25">
                <div class="col-12 text-center">
                    <img src="/assets/img/about/about-us.jpg" alt="About" />
                </div>
            </div>

            <div class="row align-items-center mx-auto">
                <div class="col-md-8 col-lg-10">
                    <div class="about-txt">
                        <div class="section-title section-title--3 left-align mb-0">
                    <p>With a decade of expertise and a passion for hairstyling, he is dedicated to the art of hairdressing. 
                        His mission is continuous growth, ensuring that he always provides the best services, leaving his clients 
                        delighted.</p>
                        <p>He stays updated with the latest trends and techniques, allowing him to create unique, modern looks. His goal 
                        is to enhance your natural beauty and create a style that suits your personality and lifestyle. 
                        He listens to your preferences, working together to boost your confidence and radiance.</p>
                        With passion, dedication, and attention to detail, he aims to send you home with a smile, proud of your 
                        new look. Make an appointment and let him bring your hair dreams to life, unveiling your personal style.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End About Page Content  ==-->

    <!--== Start Team Area Wrapper ==-->
    <div class="team-area bg-softWhite sp-y sm-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title section-title--3">
                        <h2>Meet Me</h2>
                    </div>
                </div>
            </div>

            <div class="row mtn-30">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mx-auto">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="team-member__thumb">
                            <a href="{{ '/over-mij' | locale_url }}"><img src="/assets/img/team/07.jpg" alt="Team" /></a>
                        </div>
                        <div class="team-member__info text-center">
                            <a class="title" href="{{ '/over-mij' | locale_url }}">
                                <h6>Sergiu Siminel <span class="designation">Hairstylist</span></h6>
                            </a>
                            <p>Whether it’s edgy and modern or sleek and elegant, I strive to create the perfect look for
                            each individual client. I'm also determined to provide each and every client with the
                            highest degree of customer service in a friendly and professional setting. I am dedicated
                            to performing our craft exceptionally well. To sum up: I do not want any single client to
                            believe he or she can be better served at any other salon.</p>
                            <div class="social-icons">
                                <a href="https://www.facebook.com/SergiuSiminel"><i class="ion-social-facebook"></i></a>
                                <a href="https://instagram.com/sergeysiminel.nl?igshid=OGQ5ZDc2ZA=="><i class="ion-social-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>
            </div>
        </div>
    </div>
    <!--== End Team Area Wrapper ==-->
