---
layout: layout.njk
title: Sergiu Siminel - Home
---

    <!--== Start Page Header Area ==-->
    <div class="page-header-wrap">
        <div class="page-tittle-wrap bg-img" data-bg="/assets/img/extra/page-header.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="page-tittle-content">
                            <div class="page-tittle-inner">
                                <h2>{{ 'About_us' | i18n }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area ==-->

    <!--== Start About Page Content  ==-->
    <div class="about-page-content">
        <div class="container">
            <div class="row mb-50 mb-sm-25">
                <div class="col-12 text-center">
                    <img src="/assets/img/about/about-us.jpg" alt="About" />
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-6 col-lg-4">
                    <div class="about-thumb">
                        <img src="/assets/img/about/home-3-about.jpg" alt="About" />
                    </div>
                </div>

                <div class="col-md-6 col-lg-8">
                    <div class="about-txt">
                        <div class="section-title section-title--3 left-align mb-0">
                            <p>With ten years of knowledge and experience, he's a hairdresser who is dedicated to the craft with heart and soul. Our vision is continuous development, so that we can always offer the best and see the happiness shine in the eyes of our clients.
                            <br><br>We always strive to stay up-to-date with the latest color techniques and hair styles, so that we can surprise our clients with unique and modern looks. For us, hairdressing is not just a profession, it's an art that we practice with love and passion.
                            <br><br>Our goal is to accentuate your natural beauty and create a style that perfectly suits your personality and lifestyle. We take the time to listen to your desires, and together we work on a look that makes you feel confident and radiant.
                            <br><br>With passion, dedication, and attention to detail, we want to ensure that you leave with a smile and feel proud of your new look. So, come by and let us bring your hair wishes to life, as we together unleash your personal style. 
                            We look forward to welcoming you to our salon and making you shine with a beautiful new hair creation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End About Page Content  ==-->

    <!--== Start Team Area Wrapper ==-->
    <div class="team-area bg-softWhite sp-y sm-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title section-title--3">
                        <h2>Meet Me</h2>
                    </div>
                </div>
            </div>

            <div class="row mtn-30">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mx-auto">
                    <!-- Start Team Member Item -->
                    <div class="team-member team-member--2">
                        <div class="team-member__thumb">
                            <a href="{{ '/over-mij' | locale_url }}"><img src="/assets/img/team/07.jpg" alt="Team" /></a>
                        </div>
                        <div class="team-member__info text-center">
                            <a class="title" href="{{ '/over-mij' | locale_url }}">
                                <h6>Sergiu Siminel <span class="designation">Hairdresser</span></h6>
                            </a>
                            <p>Whether it’s edgy and modern or sleek and elegant, I strive to create the perfect look for
                            each individual client. I'm also determined to provide each and every client with the
                            highest degree of customer service in a friendly and professional setting. I am dedicated
                            to performing our craft exceptionally well. To sum up: I do not want any single client to
                            believe he or she can be better served at any other salon.</p>
                            <div class="social-icons">
                                <a href="https://www.facebook.com/SergiuSiminel"><i class="ion-social-facebook"></i></a>
                                <a href="https://instagram.com/sergiusiminel.nl?igshid=MzRIODBiNWFIZA=="><i class="ion-social-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member Item -->
                </div>
            </div>
        </div>
    </div>
    <!--== End Team Area Wrapper ==-->
