
                        <!--** Start Sidebar Item **-->
                        <div class="sidebar-item">
                            <h4 class="sidebar-title">Recent Post</h4>
                            <div class="sidebar-body">
                                <div class="top-rated-product">
                                    {%- for blog in collections.blog -%}
                                    <div class="top-rated-prod-item">
                                        <div class="blog-post__content">
                                            <h3><a href="{{ blog.url }}">{{ blog.data.title }}</a></h3>
                                            <div class="post-meta">
                                                <a href="{{ blog.url }}"> 
                                                    {{ blog.data.teaser }}
                                                    <br>
                                                    {{ blog.data.dat }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {%- endfor -%}
                                </div>
                            </div>
                        </div>
                        <!--** End Sidebar Item **-->