/*===========================
28. Footer Style CSS
===========================*/

.footer-area {
  position: relative;
  color: lighten($black, 60%);

  &:before {
    @include overlay($black, 0.4);
  }

  .footer-widget-area {
    padding: 100px 0 60px;

    @media #{$sm-device} {
      padding: 65px 0 60px;
    }
  }

  .footer-copyright-area {
    border-top: 1px solid rgba($white, 0.2);
    padding: 45px 0;

    @media #{$sm-device} {
      padding: 30px 0;
    }
  }
}

.copyright-content {
  a {
    color: $brandColor;

    &:hover {
      color: $white;
    }
  }
}

.widget-item {
  margin-top: 38px;

  .widget-title {
    color: lighten($black, 60%);
    font-size: 24px;
    line-height: 1;
    margin-top: -1px;
    margin-bottom: 34px;
    padding-bottom: 15px;
    position: relative;

    @media #{$sm-device} {
      margin-bottom: 25px;
    }

    &:before {
      background-color: rgba($white, 0.1);
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 25px;
    }
  }

  .widget-body {
    color: lighten($black, 60%);

    a {
      color: $white;
    }
  }

  address {
    line-height: 2;
    margin-bottom: 0;
    font-weight: 500;
  }

  .keepintouch {
    p {
      i {
        color: $brandColor;
        font-size: 22px;
        line-height: 1;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }

  .working-hours {
    line-height: 30px;

    hr {
      border: none;
      background-color: rgba($white, 0.2);
      width: 30px;
    }
  }
}

.widget-list {
  li {
    line-height: 1;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: $white;
      transition: 0.2s;

      &:hover {
        color: $brandColor;
        padding-left: 5px;
      }
    }
  }
}

.social-icons {
  a {
    border: 1px solid rgba($white, 0.2);
    border-radius: 2px;
    color: $white;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    line-height: 38px;
    height: 40px;
    width: 40px;

    &:hover {
      background-color: $brandColor;
      border-color: $brandColor;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

/*--------------------------------
Scroll Top Button
----------------------------------*/
.btn-scroll-top {
  background-color: $brandColor;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14);
  color: $white;
  cursor: pointer;
  font-size: 16px;
  display: block;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: -50px;
  right: 30px;
  height: 50px;
  width: 50px;
  z-index: 999;
  @include hide;

  @media #{$sm-device} {
    line-height: 40px;
    height: 40px;
    width: 40px;
  }

  &:hover {
    background-color: $secondaryColor;
  }

  &.show {
    bottom: 30px;
    @include show;
  }
}