---
layout: layout.njk
title: Sergiu Siminel - Home
---


    <!--== Start Page Header Area ==-->
    <div class="page-header-wrap">
        <div class="page-tittle-wrap bg-img" data-bg="/assets/img/extra/page-header.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="page-tittle-content">
                            <div class="page-tittle-inner">
                                <h2>Blog</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area ==-->

    <!--== Start Blog Page Content ==-->
    <div class="blog-page-content-wrap sp-y">
        <div class="container">
            <div class="blog-content-wrap layout-grid">
                <div class="row mtn-30">
                    {%- for blog in collections.blog -%}
                    
                    <div class="col-md-6">
                        <!--== Start Blog Post Item ==-->
                        <div class="blog-post blog-post--3">
                            <figure class="blog-post__thumb">
                                <img src="{{ blog.data.image }}" alt="Blog" />

                                <figcaption class="blog-action">
                                    <a href="{{ blog.url }}"><i class="ion-ios-plus-empty"></i></a>
                                </figcaption>
                            </figure>

                            <div class="blog-post__content">
                                <h2 class="post-title"><a href="/blog/blog1">{{ blog.data.title }}</a>
                                </h2>
                                <div class="post-meta">
                                    <i class="ion-person"></i> Sergiu Siminel
                                    <i class="ion-clock"></i> {{ blog.dat }}
                                </div>
                                <div class="post-excerpt">
                                    <p>{{ blog.data.longteaser }}</p>
                                    <a href="{{ blog.url }}" class="btn-view-more">Read More</a>
                                </div>
                            </div>
                        </div>
                        <!--== End Blog Post Item ==-->
                    </div>

                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
    <!--== End Blog Page Content ==-->
    