---
layout: layout.njk
title: Sergey Siminel - Blog
---


<!--== Start Blog Page Content ==-->
<div class="blog-page-content-wrap sp-y">
    <div class="container">
        <div class="blog-content-wrap layout-grid">
            <div class="row mtn-30">
                {%- for blog in collections.blog -%}
                {% if page.lang in blog.url %}
                <div class="col-md-6">
                    <!--== Start Blog Post Item ==-->
                    <div class="blog-post blog-post--3">
                        <figure class="blog-post__thumb">
                            <img src="{{ blog.data.image }}" alt="Blog" />
                            <figcaption class="blog-action">
                                <a href="{{ blog.url }}"><i class="ion-ios-plus-empty"></i></a>
                            </figcaption>
                        </figure>
                        <div class="blog-post__content">
                            <h2 class="post-title"><a href="{{ blog.url }}">{{ blog.data.title }}</a></h2>
                            <div class="post-meta">
                                <i class="ion-person"></i> {{ blog.data.author }}
                                <i class="ion-clock"></i> {{ blog.data.dat }}
                            </div>
                            <div class="post-excerpt">
                                <p>{{ blog.data.longteaser }}</p>
                                <a href="{{ blog.url }}" class="btn-view-more">{{ 'read' | i18n }}</a>
                            </div>
                        </div>
                    </div>
                    <!--== End Blog Post Item ==-->
                </div>
                {% endif %}
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>
<!--== End Blog Page Content ==-->
