/*================================
07. Director Message Style CSS
==================================*/
.director-quote {
  font-family: $font-pd;
  font-size: 24px;
  line-height: 2;
  font-style: italic;
  color: lighten(black, 20%);
  margin-top: 80px;

  @media #{$md-device} {
    margin-top: 50px;
  }

  @media #{$sm-device} {
    margin-top: 30px;
    font-size: 20px;
  }
}

.director-info {
  margin-top: 60px;

  @media #{$md-device} {
    margin-top: 40px;
  }

  @media #{$sm-device} {
    margin-top: 20px;
  }

  h6 {
    color: lighten(black, 20%);
    font-family: $font-pd;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 35px;

    @media #{$sm-device} {
      margin-top: 25px;
    }

    .designation{
      color: $paragraph;
      display: block;
      font-size: 14px;
      font-family: $baseFont;
      font-weight: 400;
      margin-top: 10px;
    }
  }
}

/*=========================
14. Banner Style CSS
===========================*/
.banner-area{
  &--2{
    position: relative;
    margin-bottom: -40px;
    z-index: 2;
  }
}

/*===========================
17. Brand Logo Style CSS
============================*/
.brand-logo-item{
  text-align: center;
  img{
    margin: auto;
  }
}