/*==========================
21. Portfolio Style CSS
===========================*/
.portfolio-item {
  position: relative;
  margin-top: 30px;

  &__thumb {
    position: relative;

    &:before {
      background-color: rgba($secondaryColor, 0.9);
      content: '';
      position: absolute;
      left: auto;
      right: 0;
      top: 0;
      height: 100%;
      width: 0;
      @include hide;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    @include hide;

    .title {
      color: $white;
      font-size: 20px;
      margin: 10px 0;
    }

    a {
      color: $white;
      transform: translateX(-50px);
      transition: 0.3s;
      transition-delay: 0s;
      display: block;

      &.btn-img-popup {
        font-size: 25px;
        line-height: 1;
      }

      &.cate {
        font-size: 13px;
      }
    }
  }

  &:hover {
    .portfolio-item {
      &__thumb {
        &:before {
          pointer-events: none;
          left: 0;
          right: auto;
          width: 100%;
          @include show;
        }
      }

      &__info {
        @include show;

        a {
          transform: translateX(0);

          &:nth-child(2) {
            transition-delay: 0.2s;
          }

          &:nth-child(3) {
            transition-delay: 0.3s;
          }
        }
      }
    }
  }
}

.filter-menu {
  justify-content: center;

  li {
    border: 1px solid $borderColor;
    padding: 9px 18px;
    margin: 3px;
    cursor: pointer;
    transition: 0.3s;

    @media #{$sm-device} {
      padding: 5px 10px;
    }

    &.active {
      background-color: $brandColor;
      border-color: $brandColor;
      color: $white;
    }
  }
}

.portfolio-details {
  &-thumb {
    @media #{$sm-device} {
      margin-bottom: 30px;
    }

    img {
      width: 100%;
    }
  }

  &-content {
    h2, .h4 {
      @media #{$sm-device} {
        font-size: 24px;
      }
    }

    .portfolio-meta {
      margin-top: 30px;

      @media #{$sm-device} {
        margin-top: 20px;
      }

      .meta {
        border-bottom: 1px solid $borderColor;
        padding-bottom: 10px;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        &-title {
          color: $secondaryColor;
          text-transform: uppercase;
          margin-right: 20px;
        }

        &-value {
          a {
            color: $headingColor;

            &:hover {
              color: $brandColor;
            }
          }
        }
      }
    }
  }
}