/*==========================
20. Progress Bar Style CSS
============================*/

.progress-bar-item {
  margin-top: 30px;

  .progress {
    &-info {
      font-size: 14px;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      &__title {
        color: $headingColor;
        display: inline-block;
      }

      &__percent{
        color: $secondaryColor;
      }
    }

    &-line {
      background-color: $offWhite;
      height: 6px;
      position: relative;

      &-bar {
        background-color: $brandColor;
        height: 100%;
        width: 0;
      }
    }
  }
}