/*=======================
11. Product Style CSS
========================*/

.product-item {
  margin-top: 30px;

  &__thumb {
    position: relative;

    img{
      width: 100%;
    }

    &:before {
      @include overlay($black, 0.8);
      @include hide;
    }

    .product-action {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;

      a {
        background-color: $white;
        color: $paragraph;
        display: block;
        font-size: 13px;
        line-height: 1;
        font-weight: 700;
        padding: 10px 25px;
        margin-top: 20px;
        max-width: 135px;
        margin-left: auto;
        margin-right: auto;
        @include hide;

        &:first-child {
          margin-top: 0;
        }

        &.btn-quick-view {
          transform: translateY(-20px);
        }

        &.btn-add-to-cart {
          transform: translateY(20px);
        }

        &:hover {
          background-color: $brandColor;
          color: $white;
        }
      }
    }
  }

  &__info {
    text-align: center;
    margin-top: 15px;

    a {
      color: $headingColor;

      &:hover {
        color: $secondaryColor;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: 700;
      margin-top: 5px;
    }

    .price {
      color: $secondaryColor;
      font-size: 19px;
      font-weight: 700;
    }
  }

  &:hover {
    .product-item__thumb {
      &:before {
        @include show;
      }

      .product-action {
        a {
          transform: none;
          @include show;
        }
      }
    }
  }

  &--2{
    background-color: $white;
    padding-bottom: 15px;
  }
}